services:
  api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-3001}:${PORT:-3001}"
    env_file:
      - .env
    environment:
      - PORT=${PORT:-3001}
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT:-5432}
      - DB_USERNAME=${DB_USERNAME:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-123789}
      - DB_DATABASE=${DB_DATABASE:-api_proyecto}
      - FRONTEND_URL=${FRONTEND_URL:-http://localhost:3000}
      - NODE_ENV=${NODE_ENV:-development}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_PORT:-6379}
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

  seed:
    container_name: nest-seed
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run seed
    env_file:
      - .env
    environment:
      - PORT=${PORT:-3001}
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT:-5432}
      - DB_USERNAME=${DB_USERNAME:-postgres}
      - DB_PASSWORD=${DB_PASSWORD:-123789}
      - DB_DATABASE=${DB_DATABASE:-api_proyecto}
      - NODE_ENV=${NODE_ENV:-development}
    depends_on:
      - postgres
    networks:
      - app-network
    restart: "no"

  postgres:
    container_name: postgres-db
    image: postgres:15
    ports:
      - "${DB_PORT:-5432}:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USERNAME:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-123789}
      - POSTGRES_DB=${DB_DATABASE:-api_proyecto}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    container_name: redis-cache
    image: redis:alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

  frontend:
    container_name: react-frontend
    image: node:20-alpine
    working_dir: /usr/src/app
    volumes:
      - ./frontend-react-atomicdesign:/usr/src/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:${PORT:-3001}
      - REACT_APP_ENVIRONMENT=development
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - api
    networks:
      - app-network

volumes:
  postgres_data:
  redis_data:

networks:
  app-network: